<h1>Nuevo género</h1>

<form method="post">
    <label>Id Género</label>
    <input type="text" name="idgenero" class="form-control" value="@ViewData["max"]" readonly />
    <label>Género</label>
    <input type="text" name="nombre" class="form-control" /><br />
    <button type="submit" class="btn btn-success">Crear</button>
    <a class="btn btn-warning" asp-controller="Generos" asp-action="Generos">Volver a lista</a>
</form>